h1 {
  color: rgb(66, 50, 212);
  background-color: rgb(7, 7, 7);
  text-align: center;
  padding: 10px;
  height: 100px;
}

h1:hover{
    color: aquamarine;
    padding: 20px;
}

h2 {
  color: rgb(255, 255, 255);
  background-color: blue;
  text-align: center;
  padding: 10px;
  height: 90px;
}

h2:hover{
    padding: 30px;
    text-decoration: line-through;
}
